doc/PortalUser.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://portaluser.uim.webservice.hdht.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://portaluser.uim.webservice.hdht.org">
    <wsdl:documentation>PortalUser</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://portaluser.uim.webservice.hdht.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://portaluser.uim.webservice.hdht.org">
            <xs:element name="bussysVerifcations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="portalsetp" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="sid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="aid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bussysVerifcationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bussysVerification">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="portalsetp" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="sid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="aid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bussysVerificationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="istrue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="sid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="istrueResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="istrueRequest">
        <wsdl:part name="parameters" element="ns0:istrue"/>
    </wsdl:message>
    <wsdl:message name="istrueResponse">
        <wsdl:part name="parameters" element="ns0:istrueResponse"/>
    </wsdl:message>
    <wsdl:message name="bussysVerifcationsRequest">
        <wsdl:part name="parameters" element="ns0:bussysVerifcations"/>
    </wsdl:message>
    <wsdl:message name="bussysVerifcationsResponse">
        <wsdl:part name="parameters" element="ns0:bussysVerifcationsResponse"/>
    </wsdl:message>
    <wsdl:message name="bussysVerificationRequest">
        <wsdl:part name="parameters" element="ns0:bussysVerification"/>
    </wsdl:message>
    <wsdl:message name="bussysVerificationResponse">
        <wsdl:part name="parameters" element="ns0:bussysVerificationResponse"/>
    </wsdl:message>
    <wsdl:portType name="PortalUserPortType">
        <wsdl:operation name="istrue">
            <wsdl:input message="ns0:istrueRequest" wsaw:Action="urn:istrue"/>
            <wsdl:output message="ns0:istrueResponse" wsaw:Action="urn:istrueResponse"/>
        </wsdl:operation>
        <wsdl:operation name="bussysVerifcations">
            <wsdl:input message="ns0:bussysVerifcationsRequest" wsaw:Action="urn:bussysVerifcations"/>
            <wsdl:output message="ns0:bussysVerifcationsResponse" wsaw:Action="urn:bussysVerifcationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="bussysVerification">
            <wsdl:input message="ns0:bussysVerificationRequest" wsaw:Action="urn:bussysVerification"/>
            <wsdl:output message="ns0:bussysVerificationResponse" wsaw:Action="urn:bussysVerificationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PortalUserSOAP11Binding" type="ns0:PortalUserPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="istrue">
            <soap:operation soapAction="urn:istrue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bussysVerifcations">
            <soap:operation soapAction="urn:bussysVerifcations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bussysVerification">
            <soap:operation soapAction="urn:bussysVerification" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PortalUserSOAP12Binding" type="ns0:PortalUserPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="istrue">
            <soap12:operation soapAction="urn:istrue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bussysVerifcations">
            <soap12:operation soapAction="urn:bussysVerifcations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bussysVerification">
            <soap12:operation soapAction="urn:bussysVerification" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PortalUserHttpBinding" type="ns0:PortalUserPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="istrue">
            <http:operation location="PortalUser/istrue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="istrue"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="istrue"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bussysVerifcations">
            <http:operation location="PortalUser/bussysVerifcations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="bussysVerifcations"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="bussysVerifcations"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bussysVerification">
            <http:operation location="PortalUser/bussysVerification"/>
            <wsdl:input>
                <mime:content type="text/xml" part="bussysVerification"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="bussysVerification"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PortalUser">
        <wsdl:port name="PortalUserSOAP11port_http" binding="ns0:PortalUserSOAP11Binding">
            <soap:address location="http://10.160.1.1:80/services/PortalUser"/>
        </wsdl:port>
        <wsdl:port name="PortalUserSOAP12port_http" binding="ns0:PortalUserSOAP12Binding">
            <soap12:address location="http://10.160.1.1:80/services/PortalUser"/>
        </wsdl:port>
        <wsdl:port name="PortalUserHttpport" binding="ns0:PortalUserHttpBinding">
            <http:address location="http://10.160.1.1:80/services/PortalUser"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
